.ciel-time-picker__content {
	height: 0;
	transition: all .2s;
	position: absolute;
}
.ciel-time-picker__content {
	z-index: 99;
}
.ciel-time-picker {
	width: 100%;
	position: relative;
}

.ciel-time-picker__content--active {
	height: 146px;
	box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
	box-sizing: border-box;
	background: #fff;
	border-radius: 4px;
	overflow-y: auto;
}
.ciel-time-picker__content--active.ciel-time-picker__content__title--active {
	height: 180px;
}

.ciel-input__icon--22 {
	font-size: 22px;
}
.ciel-time-picker__content-timewarp {
	display: flex;
}
.ciel-time-picker__content-timewarp--border {
	border-right: 1px solid #e8eaec;
}